<a href="https://colab.research.google.com/github/papporica123/capstrone-project-1/blob/main/DSCM11L2A1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#### **1. Import Database**

In [ ]:
# Import file from your system
from google.colab import files
file = files.upload()

Saving database.sqlite to database.sqlite

#### **2. Connect with SQLite Database**

In [ ]:
# Connect with sqlite database
# Import necessary libraries
import sqlite3

database = 'database.sqlite'

conn = sqlite3.connect(database)
print('Opened data successfully')

Opened data successfully

In [ ]:
# Read SQL query for getting all the tables of database into a dataframe
import pandas as pd
tables = pd.read_sql("""SELECT *
                    FROM sqlite_master
                    WHERE type='table';""", conn)
tables

     type  ...                                                sql
0   table  ...  CREATE TABLE [Player] (\n\t[Player_Id]\tintege...
1   table  ...  CREATE TABLE [Extra_Runs] (\n\t[Match_Id]\tint...
2   table  ...  CREATE TABLE [Batsman_Scored] (\n\t[Match_Id]\...
3   table  ...  CREATE TABLE [Batting_Style] (\n\t[Batting_Id]...
4   table  ...  CREATE TABLE [Bowling_Style] (\n\t[Bowling_Id]...
5   table  ...  CREATE TABLE [Country] (\n\t[Country_Id]\tinte...
6   table  ...  CREATE TABLE [Season] (\n\t[Season_Id]\tintege...
7   table  ...  CREATE TABLE [City] (\n\t[City_Id]\tinteger NO...
8   table  ...  CREATE TABLE [Outcome] (\n\t[Outcome_Id]\tinte...
9   table  ...  CREATE TABLE [Win_By] (\n\t[Win_Id]\tinteger N...
10  table  ...  CREATE TABLE [Wicket_Taken] (\n\t[Match_Id]\ti...
11  table  ...  CREATE TABLE [Venue] (\n\t[Venue_Id]\tinteger ...
12  table  ...  CREATE TABLE [Extra_Type] (\n\t[Extra_Id]\tint...
13  table  ...  CREATE TABLE [Out_Type] (\n\t[Out_Id]\tinteger...
14  table  ...  CREATE TABLE [Toss_Decision] (\n\t[Toss_Id]\ti...
15  table  ...  CREATE TABLE [Umpire] (\n\t[Umpire_Id]\tintege...
16  table  ...  CREATE TABLE [Team] (\n\t[Team_Id]\tinteger NO...
17  table  ...  CREATE TABLE [Ball_by_Ball] (\n\t[Match_Id]\ti...
18  table  ...  CREATE TABLE [sysdiagrams] (\n\t[name]\tnvarch...
19  table  ...             CREATE TABLE sqlite_sequence(name,seq)
20  table  ...  CREATE TABLE [Match] (\n\t[Match_Id]\tinteger ...
21  table  ...  CREATE TABLE [Rolee] (\n\t[Role_Id]\tinteger N...
22  table  ...  CREATE TABLE [Player_Match] (\n\t[Match_Id]\ti...

[23 rows x 5 columns]

In [ ]:
# Read Table from the database into dataframe
matches = pd.read_sql("""SELECT *
                        FROM Match;""", conn)

# Print Table info
matches.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 577 entries, 0 to 576
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Match_Id          577 non-null    int64
 1   Team_1            577 non-null    int64
 2   Team_2            577 non-null    int64
 3   Match_Date        577 non-null    object
 4   Season_Id         577 non-null    int64
 5   Venue_Id          577 non-null    int64
 6   Toss_Winner       577 non-null    int64
 7   Toss_Decide       577 non-null    int64
 8   Win_Type          577 non-null    int64
 9   Win_Margin        568 non-null    float64
 10  Outcome_type      577 non-null    int64
 11  Match_Winner      574 non-null    float64
 12  Man_of_the_Match  574 non-null    float64
dtypes: float64(3), int64(9), object(1)
memory usage: 58.7+ KB

**Conclusion -**

- 12 Numeric features (Integer and Numeric) and 1 categorical feature (Text)
- 3 columns with null values