<a href="https://colab.research.google.com/github/papporica123/capstrone-project-1/blob/main/Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import files
file=files.upload()

In [2]:
import sqlite3
database='dtabase.sqlite'
conn=sqlite3.connect(database)
print("opened database successfully")

opened database successfully

In [14]:
import pandas as pd
tables=pd.read_sql("""SELECT * FROM sqlite_master WHERE type='table';""", conn)
tables

Empty DataFrame
Columns: [type, name, tbl_name, rootpage, sql]
Index: []

DatabaseError: Execution failed on sql 'SELECT * FROM Match;': no such table: Match

In [11]:
# Read Table from the database into dataframe
matches = pd.read_sql("""SELECT *
                        FROM Match;""", conn)

# Print Table info
matches.info()

DatabaseError: Execution failed on sql 'SELECT *
                        FROM Match;': no such table: Match

In [12]:
MI_wins=pd.read_sql("""SELECT * FROM Match WHERE Match_Winner==7;""", conn)
MI_win

DatabaseError: Execution failed on sql 'SELECT * FROM Match WHERE Match_Winner==7;': no such table: Match

In [13]:
min_max_margin=pd.read_sql("""SELECT MIN(Win_Margin), MAX(Win_Margin)FROM Match;""", conn)
min_max_margin

DatabaseError: Execution failed on sql 'SELECT MIN(Win_Margin), MAX(Win_Margin)FROM Match;': no such table: Match