<a href="https://colab.research.google.com/github/papporica123/capstrone-project-1/blob/main/Untitled15.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
ed={'name':['james gates', 'pablo escobar', 'jones fortnite', 'peeely fortnite'],
    'scores':[10, 87, 291, 992],
    'attemp':[48, 63, 1, 1],
    'qualify':['no', 'yes', 'yes', 'yes']}
labels=['a','b','c','d']
df=pd.DataFrame(ed, index=labels)
print(df)
print(df.info())
print(df.describe())

              name  scores  attemp qualify
a      james gates      10      48      no
b    pablo escobar      87      63     yes
c   jones fortnite     291       1     yes
d  peeely fortnite     992       1     yes
<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, a to d
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   name     4 non-null      object
 1   scores   4 non-null      int64
 2   attemp   4 non-null      int64
 3   qualify  4 non-null      object
dtypes: int64(2), object(2)
memory usage: 160.0+ bytes
None
           scores     attemp
count    4.000000   4.000000
mean   345.000000  28.250000
std    447.330601  32.055941
min     10.000000   1.000000
25%     67.750000   1.000000
50%    189.000000  24.500000
75%    466.250000  51.750000
max    992.000000  63.000000